@value colors: './colors.css';
@value app_blue, app_flatdark from colors;

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerlight {
    composes: container;
    background-color: app_blue;
    background-image: linear-gradient(app_blue, #4BA6FF, #A5D3FF, #FFFFFF);
}

.containerdark {
    composes: container;
    background-color: app_flatdark;
}

.brightness {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    background-image: url("../images/brightness.svg");
    background-size: 100%;
    background-color: Transparent;
}