.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.controlbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-top: 20px;
    flex: 1;
}

.temp {
    composes: white from './Text.module.css';
    font-size: 72px;
    flex: 1;
    margin: 20px 0 20px 0;
}

.image {
    width: 200px;
    height: 200px;
}

.imagecontainer {
  flex: 5;
  display: flex;
  align-items: center;
}

.imageanim {
  width: 200px;
  height: 200px;
  animation: Fan-spin infinite 1.0s linear;
  flex: 3;
}

.transmit {
  margin-top: 20px;
  flex: 2;
}

@keyframes Fan-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  @media only screen and (max-width: 500px) {
    .container {
        width: 95vw;
        height: 100vh;
    }
}