.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controlbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-top: 20px;
}

.temp {
    composes: white from './Text.module.css';
    font-size: 72px;
    margin: 20px 0 20px 0;
}

.image {
    width: 200px;
    height: 200px;
}

.imagecontainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.imageanim {
  width: 200px;
  height: 200px;
  animation: Fan-spin infinite 1.0s linear;
}

.transmit {
  margin: 20px 0 20px 0;
}

@keyframes Fan-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  @media only screen and (max-width: 500px) {
    .container {
        width: 95vw;
        height: 100vh;
    }
    .transmit {
      margin: 0 0 20px 0;
    }
}